<div class="row time-zone-controls">
  <div class="col-sm-10">
    <div class="progress">
      <div class="progress-bar progress-bar-warning" style="width: 20%">
        00-09
      </div>
      <div class="progress-bar progress-bar-success" style="width: 30%">
        09-17
      </div>
      <div class="progress-bar progress-bar-warning" style="width: 50%">
        17-00
      </div>
    </div>
  </div>

  <div class="col-sm-2">
    {{#x-select value=timeZone.utfDifference class="form-control"}}
      {{#x-option value="-4"}}UTC -4{{/x-option}}
      {{#x-option value="-3"}}UTC -3{{/x-option}}
      {{#x-option value="-2"}}UTC -2{{/x-option}}
      {{#x-option value="-1"}}UTC -1{{/x-option}}
      {{#x-option value="0"}}UTC{{/x-option}}
      {{#x-option value="+1"}}UTC +1{{/x-option}}
      {{#x-option value="+2"}}UTC +2{{/x-option}}
      {{#x-option value="+3"}}UTC +3{{/x-option}}
      {{#x-option value="+4"}}UTC +4{{/x-option}}
    {{/x-select}}
  </div>
</div>