  {{#each timeZone.activeHoursWithSpan as |activeHour|}}
    <td class={{if activeHour.active 'success' 'danger'}} {{action 'toggleActiveHour' activeHour}}>{{activeHour.hour}}</td>
  {{/each}}

  <td>
    {{#x-select value=utfDifference class="form-control" action="updateUtfDifference"}}
      {{#x-option value="-4"}}UTC -4{{/x-option}}
      {{#x-option value="-3"}}UTC -3{{/x-option}}
      {{#x-option value="-2"}}UTC -2{{/x-option}}
      {{#x-option value="-1"}}UTC -1{{/x-option}}
      {{#x-option value="0"}}UTC{{/x-option}}
      {{#x-option value="+1"}}UTC +1{{/x-option}}
      {{#x-option value="+2"}}UTC +2{{/x-option}}
      {{#x-option value="+3"}}UTC +3{{/x-option}}
      {{#x-option value="+4"}}UTC +4{{/x-option}}
    {{/x-select}}
  </td>

