<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">About</a></li>
        <li role="presentation"><a href="#">Contact</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Project name</h3>
  </div>

  <h1>list</h1>


<table class="table table-bordered">
  <thead>
    <tr>
      {{#each db.hoursList as |hour|}}
        <th>{{hour}}</th>
      {{/each}}
      <th>Time Zone</th>
    </tr>
  </thead>
  <tbody>
    {{#each db.timeZones as |timeZone|}}
      {{time-zone timeZone=timeZone}}
    {{/each}}
    {{time-zone timeZone=db.timeZoneMatch}}
  </tbody>
</table>

  <hr />




  <footer class="footer">
    <p>&copy; 2015 Company, Inc.</p>
  </footer>

</div> <!-- /container -->

